.css-button {
  background-color: black;
  color: white;
  padding: 20px;
  border-radius: 20px;
  margin-left: 30px;
  border: none;
  cursor: pointer;
}

.is-toggled {
  background-color: grey;
  color: black;
}